

/*********************************POKEDEX**************************************/


.pokedex-title-pokemon{
    color:black;
    display:flex;
    justify-content:center;
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
}
.pokedex-sub-title{
    font-weight:bold;
    font-size:20px;
    margin-bottom:0;
}

.pokedex-header-one{
    background-color:#01fbfb;
    width:80px;
    height:80px;
    border-radius:50%;
    border:ridge;
}
.pokedex-header-two{
    background-color:red;
    width:35px;
    height:35px; 
    border-radius: 50%;
    border-color: black;
    border: solid;
    border-width: thin;
}
.pokedex-header-three{
    background-color:yellow;
    width:35px;
    height:35px; 
    border-radius: 50%;
    border-color: black;
    border: solid;
    border-width: thin;
}
.pokedex-header-four{
    background-color:#2ff901;
    width:35px;
    height:35px; 
    border-radius: 50%;
    border-color: black;
    border: solid;
    border-width: thin;
}

.pokedex-footer-one{
    background-color: #519afb;
    width:60px;
    height:60px;
    border-radius:50%;
    border:ridge;
}
.pokedex-footer-two{
    background-color:#2ff901;
    width:120px;
    height:35px; 
    border-radius:20px;
    border-color:black;
    border:solid;
    border-width:thin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.pokedex-footer-three{
    background-color: yellow;
    width:120px;
    height:35px;
    border-radius:20px;
    border-color:black;
    border:solid;
    border-width:thin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.pokedex-footer-four{
    background-color:yellow;
    width:300px;
    height:55px;
    border-radius:15px;
    border-color:black;
    border:solid;
    border-width:thin;
}
.pokedex-footer-five{
    background-color:#dd082f;
    width:55px;
    height:55px;
    border-radius:50%;
    border-color:black;
    border:solid;
    border-width:thin;
}

.pokedex-content-evolution-one{
    display:flex;
    justify-content:center; 
    align-items:center;
    flex-direction:column;
    background-color:#3b020d;
    border-radius: 0 20px 20px 0;
}
.pokedex-content-evolution-two{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:80px;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 5%, 50% 5%, 80% 20%, 95% 20%, 95% 100%, 0% 100%);
    background-color:#dd082f;
}
.pokedex-content-evolution-three{
    display:flex; 
    justify-content:space-around;
    align-items:center;
    flex-direction: column;
}
.pokedex-content-evolution-three-max{
    display:flex; 
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pokedex-detail-evolution{
    display:flex;
    flex-direction:column;
    text-align:center;
}
.pokedex-img-evolution{
    width: 145px;
    height: 145px;
}

.pokedex-img{
    width: 100px;
    height: 100px;
}

.pokedex-img-close{
    align-self:flex-end;
    background:#dd082f;
    border:none;
    width:fit-content;
    position:absolute;
    margin: 6px;
    border-radius: 30%;
}



/*********************************HOME**************************************/

.home-background-pokemon{
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.home-pokeball-pokemon{
    width:150px;
    align-self:center;
}
.home-logo-pokemon{
    width:500px;
    align-self:center;
}
.home-button-pokemon{
    border-radius:10px;
    font-size:30px;
    font-weight:bold;
}
.home-card-pokemon{
    background-size: cover;
    background-position: center;
    min-height: 10vh;
    border-color: black;
}
